.pink{background-color:#f96995;
border: 2px outset #f96995;}

.green{background-color: #66ff66;
border: 2px outset #66ff66;}

.gold{background-color:	#96861B;
border: 2px outset #96861B;}

.cyan{background-color: #22A1AB;
border: 2px outset #22A1AB ;}
